.bg-navbar{
    background-color: #171616 !important;
}
/* .bg-nav{
} */
.navbar-default{
    border:0;
    background-color: rgba(0, 0, 0, 0);
}

.img-brand{
    display: flex;
    align-content: center;
    width: 100px;
    height: auto;
    margin: 10px;
}
.img-brand1{
    display: inline;
}

.navbar-brand{
    height: 0;
}

.navbar-nav{
    margin: 10px;
}

.active-nav > a{
    border: 1px solid;
    border-color: #c59c45;
    color: #c59c45 !important;
    border-radius: 5px;
}

.hvr-nav > a:hover{
    border: 1px solid;
    border-color: #c59c45;
    color: #c59c45 !important;
    border-radius: 5px;
    margin: 5px;
}


.navbar-default .navbar-nav > li > a:hover{
    color:#c59c45;
    border-color: #c59c45;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}

.search-input1 {
    display: flex; 
    margin-top: 10px;
}
.input_search{
    border-radius: 0;
    background-color: transparent; 
    color: aliceblue;
}

.input-icon{
    background: transparent; 
    border: 1px solid white; 
    border-radius: 0; 
    width: 50px;
}
.chat-btn{
    background:none; 
    border:1px solid #c59c45; 
    color: #c59c45;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
}


.banner-info h4{
    font-size: 20pt;
    font-weight: normal;
    color: #fff;
    margin: 0 0 0.5em;
    position: relative;
    padding-bottom: 1em;
    text-transform: capitalize;
    letter-spacing: 0px;
}

.banner-info h4:after {
    background: #fff;
    width: 10%;
}

.hvr-sweep-to-top:before{
    background: #c59c45;
    border: 1px solid #c59c45 !important;
}
.banner-bottom{
    padding-top: 10px ;
}

.text-green{
    color: #90B82D;
}

.banner-bottom h3 span{
    display: block;
    font-size: 30px ;
    color: #212121;
    position: relative;
    padding-bottom: .5em;
    text-transform: capitalize;
}

.banner-bottom h3 span:after{
    width: 15%;
    height: 2px;
    background: #212121;
    position: absolute;
    bottom: 0;
    left: 43%;
}

.banner-bottom-grid-right h4{
    color: #000;
}
.banner-bottom-grid-left-pos1{
    padding-top: 0;
    padding: 10px;
    text-align: center;
    padding-bottom: 380px;
    border: 0;
}
.banner-bottom-grid-left-pos{
    border: 0;
}
.chat-btn1{
    background:none; 
    border:1px solid #ffffff; 
    color: #ffffff;
    margin-top: 20px;
    border-radius: 0;
}

.services{
	min-height:300px;
}
.services h3 span {
    color: #fff;
    
}
.services h3 span:after {
    background: #fff;
}

.services-font {
    color: #ffffff;
    font-size: 20px; 
    font-weight: normal;
}

.fs-2{
    font-weight: normal; 
    font-size: 50px;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-normal{
    font-weight: normal;
}

.mb-1{
    margin-bottom: 1em;
}

.mb-2{
    margin-bottom: 3em;
}
h1, h2, h3, h4, h5, h6,p{
    font-family: 'Gothic A1', sans-serif;
}

.categories{
    margin-top: 10px;
    border: none;
}

.categories ul{
    padding: 10px 10px 10px 10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.text-media {
    float: right;
    overflow: auto;
    display: table;
}
.card-title {
    margin-bottom: 0.5rem;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.border-0 {
    border: 0 !important;
}

.latest-posts-grids {
    margin-top: 20px;
}

.pt-0{
    padding-top: 0;
}

.rounded-3 {
    border-radius: 0.3rem !important;
}

.g-1, .gy-1 {
    --bs-gutter-y: 0.25rem;
}

.g-1, .gx-1 {
    --bs-gutter-x: 0.25rem;
}

.w-100 {
    width: 100% !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
}

.text-muted {
    color: #6c757d !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.pe-3 {
    padding-right: 1rem !important;
}

body a, button, .btn {
    cursor: pointer !important;
}

.float-end {
    float: right !important;
}

.hr-row{
    border: 1px solid;
    color: #0000004f;
    float: left;
    width: 100px;
    display: block;
    margin-top: 0;
    margin-bottom: 0px;
}

.text-dark{
    color: black;
}

.scroll-news{
    max-height: 500px; 
    overflow:auto ;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #171616;
}
.categories {
    margin-bottom: 25px;
}

.bg-channel{
    margin: 2em 0;
    background: #f5f5f5;
    padding-top: 5px;
}

.bg-abu{
    background:#f5f5f5;
}

.pagination > li > a, .pagination > li > span{
    color: #555555;
    background-color: #f5f5f5;
    border: none;
}

.pagination > .active > a{
    background-color: #e02323;
    border-color: #e02323;
}

.latest-posts-grid-left ul.post-date li, .latest-posts-grid-left ul.post-date1 li a, .latest-posts-grid-left ul.post-date2 li a{
    font-size: 13.5px;
}


/* instagram */

.text-ig{
    color: black; 
    font-size: 10pt; 
    font-weight: bold;
    margin-left: 25px;
    margin-top: 0;
}

/* nav */
.in{
    background: #171616;
    display: block;
}

.btn-2{
    display: inline-block;
    padding: 5px 39px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}